/* styles
Defualt  */

* {
  /* margin: 0;
    padding: 0; */

  box-sizing: border-box;
}

.body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: var(--body-bg);
  min-height: 100vh;
  color: var(--text-color);
}

.flex {
  display: flex;
  gap: 1rem;
}

.container {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

:root {
  --color-orange: #ff5c00;
  --color-dark: #2a2a2a;

  --body-bg: #fff;
  --text-color: var (color-dark);

  --border-color: var (var(--color-dark));
  /* color for dark */
  --dark-bg: var(var(--color-dark));
  --dark-text-color: #ffff;
  --dark-border-color: #fff;
}

/* dark mode activation */
#darkMode:checked + .wrapper {
  background: var(--dark-bg);
  min-height: 100vh;
  color: var(--dark-text);
}

/* header */

header {
  box-shadow: 0 0 10px 5px gray;
  position: sticky;
  top: 0;
}

.header {
  box-shadow: 0 0 10px 5px gray;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.log > div:nth-child(1) h1 {
  font-size: 1.8rem;
}
.line {
  font-size: 1rem;
  position: relative;
}
.line::before {
  content: "";
  width: 4px;
  height: 40%;
  top: 2rem;
  left: 1%;
  background: var(--color-orange);
  position: absolute;
}

.menu-icon,
#check {
  display: none;
}

.navigation {
  list-style: none;
}

.navigation li a:hover {
  color: var(--color-orange);
  transition: all 0.5sec;
}

/* checkbox
 */
#darkMode {
  position: absolute;
  top: 7rem;
  left: 2rem;
  display: none;
  /* display: hidden; */
}

.dark-mode-toggle {
  position: absolute;
  top: 10rem;
  left: 2rem;
}

.dark-mode-toggle:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: all 0.5s;
}
